@import "~bootstrap/scss/bootstrap.scss";

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
body {
    background-color: rgb(226, 226, 226);
    background-image: url(https://i.pinimg.com/originals/e6/0e/53/e60e531bb26f15c5f69c2cb35633bf46.jpg);
}


.list {
    padding-top: 25px;
}

.audioPlayer{
    float: right;
}



.btn-secondary{
    float: left;
    color: black;
    background-color: #dfdfdf;
}